streamlit
geemap
earthengine-api
folium
streamlit-folium
pandas
numpy
matplotlib
plotly
geopandas
geobr
requests
python-docx
pypandoc
openpyxl
pytz
kaleido
MetPy
scipy
pint
xarray
pooch






