streamlit
pandas
numpy
xarray
matplotlib
cdsapi
pathlib
earthengine-api
streamlit-folium
folium
cartopy
geopandas>=0.14.0
shapely>=2.0.0
git+https://gitlab.com/open-geodata/geobr.git@main
geemap
